# Pandas: Lidando com Datasets

In [23]:
#Import
import pandas as pd

In [24]:
#Dataframes e series
series = pd.Series([1, 6, 3, 2])
display(series)

0    1
1    6
2    3
3    2
dtype: int64

In [25]:
dataframe = pd.DataFrame({
    "nome": ["João", "Maria", "Ubirajara"],
    "notas": [7, 10, 8]
})
display(dataframe)

        nome  notas
0       João      7
1      Maria     10
2  Ubirajara      8

In [26]:
#Exibição de Dados
df = pd.read_csv("C:/Users/João Luís/Desktop/eba-analista/data/dados.csv")
display(df)

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,782
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,896
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,898
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,685
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,734
5,Pedro Lucas,43,6482,Macedo,Casado,2,Zelador,671
6,Bella,26,9684,da Mata dos Dourados,Divorciado,4,Zelador,580
7,Ana Laura,56,14898,Fernandes,Divorciado,0,Cartunista,523
8,Josué,57,13497,Nascimento do Oeste,Divorciado,0,Zelador,326
9,Letícia,26,1670,da Mata dos Dourados,Casado,3,Geriatra,849
10,Davi Miguel,46,7928,Fernandes,Solteiro,2,Militar da Marinha,643
11,Benicio,20,10967,Pacheco das Flores,Solteiro,0,Geriatra,724
12,João,49,14973,Pacheco das Flores,Solteiro,1,Profissional de rádio e tv,774
13,Ester,48,10209,Casa Grande do Norte,Casado,3,Técnico de gesso,468
14,Alexandre,39,10726,Casa Grande do Norte,Solteiro,3,Zelador,683
15,Mariana,22,12190,Macedo,Casado,3,Zelador,799
16,Maria Cecília,61,9867,da Mata dos Dourados,Solteiro,2,Técnico de gesso,491
17,Stephany,64,5949,Macedo,Casado,1,Maquinista,697
18,Luiz Henrique,20,14219,da Conceição de Goiás,Casado,1,Zelador,881
19,Maria Luiza,18,12753,Casa Grande do Norte,Solteiro,2,Zelador,541
20,Amanda,31,4880,Pacheco das Flores,Divorciado,0,Rebarbador de metal,753
21,Oliver,41,2640,Pacheco das Flores,Divorciado,4,Militar da Marinha,386
22,Esther,18,8561,Fernandes,Divorciado,3,Profissional de rádio e tv,689
23,Ana Vitória,51,3993,Nascimento do Oeste,Casado,1,Geriatra,659
24,Yan,35,3870,Macedo,Solteiro,1,Profissional de rádio e tv,845
25,Juliana,56,13811,Fernandes,Casado,4,Profissional de efeitos especiais,379
26,Lara,23,14849,Nascimento do Oeste,Casado,4,Técnico de gesso,602
27,Igor,19,14679,Casa Grande do Norte,Casado,1,Militar da Marinha,497
28,Elisa,44,2486,Nogueira de Peixoto,Casado,4,Rebarbador de metal,529
29,Stephany,60,9909,Nogueira de Peixoto,Casado,3,Técnico de gesso,652
30,João Vitor,44,5637,Casa Grande do Norte,Solteiro,4,Militar da Marinha,808
31,Bella,47,10864,Nogueira de Peixoto,Solteiro,0,Maquinista,524
32,Gustavo Henrique,28,6072,Nogueira de Peixoto,Solteiro,2,Profissional de rádio e tv,480
33,Lara,22,13077,Casa Grande do Norte,Solteiro,2,Maquinista,317
34,Mariah,51,12870,Fernandes,Solteiro,0,Cartunista,797
35,Alexandre,61,12089,Nascimento do Oeste,Divorciado,2,Técnico de gesso,412
36,Danilo,60,6252,Fernandes,Solteiro,2,Geriatra,542
37,Luiz Gustavo,21,12409,da Conceição de Goiás,Divorciado,4,Profissional de efeitos especiais,826
38,Matheus,42,5687,da Conceição de Goiás,Casado,1,Militar da Marinha,578
39,Maria Helena,58,7011,Nogueira de Peixoto,Solteiro,3,Maquinista,866
40,Diego,47,14464,Fernandes,Solteiro,3,Geriatra,311
41,André,56,10575,Nogueira de Peixoto,Divorciado,2,Maquinista,628
42,Sophie,21,2939,da Mata dos Dourados,Casado,3,Tecnólogo em irrigação e drenagem,310
43,Luiz Gustavo,61,10987,Casa Grande do Norte,Casado,4,Profissional de rádio e tv,675
44,Benjamin,58,3960,Nogueira de Peixoto,Casado,1,Profissional de efeitos especiais,618
45,Luiz Gustavo,29,2895,Nogueira de Peixoto,Divorciado,3,Profissional de efeitos especiais,725
46,Maria Isis,48,8295,Macedo,Casado,3,Geriatra,688
47,Lívia,56,3807,da Mata dos Dourados,Solteiro,4,Rebarbador de metal,373
48,Nicole,54,7086,Casa Grande do Norte,Solteiro,3,Zelador,498
49,Otávio,32,11165,da Mata dos Dourados,Divorciado,2,Geriatra,852
50,Ian,40,8218,da Mata dos Dourados,Divorciado,0,Geriatra,656
51,Luiz Gustavo,25,10424,Macedo,Solteiro,2,Técnico de gesso,394
52,Luigi,21,4684,Casa Grande do Norte,Solteiro,1,Tecnólogo em irrigação e drenagem,644
53,Caroline,31,3396,da Mata dos Dourados,Divorciado,3,Profissional de rádio e tv,566
54,Eloah,39,3323,Fernandes,Solteiro,4,Militar da Marinha,358
55,Mateus,32,2893,da Mata dos Dourados,Divorciado,1,Tecnólogo em irrigação e drenagem,499
56,Levi,38,9211,Casa Grande do Norte,Divorciado,1,Profissional de rádio e tv,501
57,Isadora,34,2027,da Mata dos Dourados,Divorciado,3,Técnico de gesso,470
58,Ester,48,9635,Nogueira de Peixoto,Divorciado,3,Tecnólogo em irrigação e drenagem,704
59,Maya,50,2289,Casa Grande do Norte,Casado,3,Zelador,527

In [27]:
display(df['Cidade'])#Exibindo apenas uma tabela

0       Nogueira de Peixoto
1      da Mata dos Dourados
2                 Fernandes
3      Casa Grande do Norte
4                    Macedo
5                    Macedo
6      da Mata dos Dourados
7                 Fernandes
8       Nascimento do Oeste
9      da Mata dos Dourados
10                Fernandes
11       Pacheco das Flores
12       Pacheco das Flores
13     Casa Grande do Norte
14     Casa Grande do Norte
15                   Macedo
16     da Mata dos Dourados
17                   Macedo
18    da Conceição de Goiás
19     Casa Grande do Norte
20       Pacheco das Flores
21       Pacheco das Flores
22                Fernandes
23      Nascimento do Oeste
24                   Macedo
25                Fernandes
26      Nascimento do Oeste
27     Casa Grande do Norte
28      Nogueira de Peixoto
29      Nogueira de Peixoto
30     Casa Grande do Norte
31      Nogueira de Peixoto
32      Nogueira de Peixoto
33     Casa Grande do Norte
34                Fernandes
35      Nascimento do Oeste
36                Fernandes
37    da Conceição de Goiás
38    da Conceição de Goiás
39      Nogueira de Peixoto
40                Fernandes
41      Nogueira de Peixoto
42     da Mata dos Dourados
43     Casa Grande do Norte
44      Nogueira de Peixoto
45      Nogueira de Peixoto
46                   Macedo
47     da Mata dos Dourados
48     Casa Grande do Norte
49     da Mata dos Dourados
50     da Mata dos Dourados
51                   Macedo
52     Casa Grande do Norte
53     da Mata dos Dourados
54                Fernandes
55     da Mata dos Dourados
56     Casa Grande do Norte
57     da Mata dos Dourados
58      Nogueira de Peixoto
59     Casa Grande do Norte
Name: Cidade, dtype: object

In [28]:
display(df[['Nome', 'Estado Civil']])#Exibindo tabelas especificas

                Nome Estado Civil
0              Bruna   Divorciado
1              Eloah       Casado
2            Nicolas     Solteiro
3             Calebe   Divorciado
4            Benício   Divorciado
5        Pedro Lucas       Casado
6              Bella   Divorciado
7          Ana Laura   Divorciado
8              Josué   Divorciado
9            Letícia       Casado
10       Davi Miguel     Solteiro
11           Benicio     Solteiro
12              João     Solteiro
13             Ester       Casado
14         Alexandre     Solteiro
15           Mariana       Casado
16     Maria Cecília     Solteiro
17          Stephany       Casado
18     Luiz Henrique       Casado
19       Maria Luiza     Solteiro
20            Amanda   Divorciado
21            Oliver   Divorciado
22            Esther   Divorciado
23       Ana Vitória       Casado
24               Yan     Solteiro
25           Juliana       Casado
26              Lara       Casado
27              Igor       Casado
28             Elisa       Casado
29          Stephany       Casado
30        João Vitor     Solteiro
31             Bella     Solteiro
32  Gustavo Henrique     Solteiro
33              Lara     Solteiro
34            Mariah     Solteiro
35         Alexandre   Divorciado
36            Danilo     Solteiro
37      Luiz Gustavo   Divorciado
38           Matheus       Casado
39      Maria Helena     Solteiro
40             Diego     Solteiro
41             André   Divorciado
42            Sophie       Casado
43      Luiz Gustavo       Casado
44          Benjamin       Casado
45      Luiz Gustavo   Divorciado
46        Maria Isis       Casado
47             Lívia     Solteiro
48            Nicole     Solteiro
49            Otávio   Divorciado
50               Ian   Divorciado
51      Luiz Gustavo     Solteiro
52             Luigi     Solteiro
53          Caroline   Divorciado
54             Eloah     Solteiro
55            Mateus   Divorciado
56              Levi   Divorciado
57           Isadora   Divorciado
58             Ester   Divorciado
59              Maya       Casado

In [29]:
display(df.iloc[0:10])#Localiza com Base no Indice

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,782
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,896
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,898
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,685
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,734
5,Pedro Lucas,43,6482,Macedo,Casado,2,Zelador,671
6,Bella,26,9684,da Mata dos Dourados,Divorciado,4,Zelador,580
7,Ana Laura,56,14898,Fernandes,Divorciado,0,Cartunista,523
8,Josué,57,13497,Nascimento do Oeste,Divorciado,0,Zelador,326
9,Letícia,26,1670,da Mata dos Dourados,Casado,3,Geriatra,849

In [30]:
display(df.head())#Pega os 5 primeiros

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,782
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,896
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,898
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,685
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,734

In [31]:
display(df.tail())#os ultimos 5

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito
55,Mateus,32,2893,da Mata dos Dourados,Divorciado,1,Tecnólogo em irrigação e drenagem,499
56,Levi,38,9211,Casa Grande do Norte,Divorciado,1,Profissional de rádio e tv,501
57,Isadora,34,2027,da Mata dos Dourados,Divorciado,3,Técnico de gesso,470
58,Ester,48,9635,Nogueira de Peixoto,Divorciado,3,Tecnólogo em irrigação e drenagem,704
59,Maya,50,2289,Casa Grande do Norte,Casado,3,Zelador,527

In [32]:
display(df.info())#Mostra as info da tabela

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nome                  60 non-null     object
 1   Idade                 60 non-null     int64
 2   Salário               60 non-null     int64
 3   Cidade                60 non-null     object
 4   Estado Civil          60 non-null     object
 5   Número de Filhos      60 non-null     int64
 6   Profissão             60 non-null     object
 7   Pontuação de Crédito  60 non-null     int64
dtypes: int64(4), object(4)
memory usage: 3.9+ KB

None

In [33]:
display(df.columns)#exibe as colunas

Index(['Nome', 'Idade', 'Salário', 'Cidade', 'Estado Civil',
       'Número de Filhos', 'Profissão', 'Pontuação de Crédito'],
      dtype='object')

In [34]:
display(df.describe())#faz uma estatistica descritiva

           Idade       Salário  Número de Filhos  Pontuação de Crédito
count  60.000000     60.000000         60.000000             60.000000
mean   39.966667   8262.616667          2.166667            613.050000
std    14.261441   4190.033996          1.290994            165.842934
min    18.000000   1650.000000          0.000000            310.000000
25%    26.000000   3984.750000          1.000000            497.750000
50%    41.500000   8886.000000          2.000000            635.500000
75%    51.000000  11252.500000          3.000000            727.250000
max    64.000000  14973.000000          4.000000            898.000000

In [35]:
display(df['Idade'].value_counts())#conta quanto cada valor tem em respectiva coluna

Idade
56    4
18    3
61    3
48    3
21    3
23    2
26    2
39    2
42    2
38    2
31    2
22    2
20    2
58    2
47    2
60    2
51    2
50    2
44    2
32    2
64    1
46    1
43    1
49    1
57    1
19    1
28    1
41    1
35    1
29    1
54    1
40    1
25    1
34    1
Name: count, dtype: int64

In [36]:
display(df.Profissão.value_counts())#conta quanto cada valor tem em respectiva coluna

Profissão
Zelador                              9
Militar da Marinha                   8
Geriatra                             8
Maquinista                           7
Técnico de gesso                     7
Profissional de rádio e tv           7
Profissional de efeitos especiais    4
Rebarbador de metal                  4
Tecnólogo em irrigação e drenagem    4
Cartunista                           2
Name: count, dtype: int64

In [37]:
df['Pontuação de Crédito'] = df['Pontuação de Crédito'] /14 #altera coluna existente
display(df)

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,55.857143
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,64.000000
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,64.142857
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,48.928571
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,52.428571
5,Pedro Lucas,43,6482,Macedo,Casado,2,Zelador,47.928571
6,Bella,26,9684,da Mata dos Dourados,Divorciado,4,Zelador,41.428571
7,Ana Laura,56,14898,Fernandes,Divorciado,0,Cartunista,37.357143
8,Josué,57,13497,Nascimento do Oeste,Divorciado,0,Zelador,23.285714
9,Letícia,26,1670,da Mata dos Dourados,Casado,3,Geriatra,60.642857
10,Davi Miguel,46,7928,Fernandes,Solteiro,2,Militar da Marinha,45.928571
11,Benicio,20,10967,Pacheco das Flores,Solteiro,0,Geriatra,51.714286
12,João,49,14973,Pacheco das Flores,Solteiro,1,Profissional de rádio e tv,55.285714
13,Ester,48,10209,Casa Grande do Norte,Casado,3,Técnico de gesso,33.428571
14,Alexandre,39,10726,Casa Grande do Norte,Solteiro,3,Zelador,48.785714
15,Mariana,22,12190,Macedo,Casado,3,Zelador,57.071429
16,Maria Cecília,61,9867,da Mata dos Dourados,Solteiro,2,Técnico de gesso,35.071429
17,Stephany,64,5949,Macedo,Casado,1,Maquinista,49.785714
18,Luiz Henrique,20,14219,da Conceição de Goiás,Casado,1,Zelador,62.928571
19,Maria Luiza,18,12753,Casa Grande do Norte,Solteiro,2,Zelador,38.642857
20,Amanda,31,4880,Pacheco das Flores,Divorciado,0,Rebarbador de metal,53.785714
21,Oliver,41,2640,Pacheco das Flores,Divorciado,4,Militar da Marinha,27.571429
22,Esther,18,8561,Fernandes,Divorciado,3,Profissional de rádio e tv,49.214286
23,Ana Vitória,51,3993,Nascimento do Oeste,Casado,1,Geriatra,47.071429
24,Yan,35,3870,Macedo,Solteiro,1,Profissional de rádio e tv,60.357143
25,Juliana,56,13811,Fernandes,Casado,4,Profissional de efeitos especiais,27.071429
26,Lara,23,14849,Nascimento do Oeste,Casado,4,Técnico de gesso,43.000000
27,Igor,19,14679,Casa Grande do Norte,Casado,1,Militar da Marinha,35.500000
28,Elisa,44,2486,Nogueira de Peixoto,Casado,4,Rebarbador de metal,37.785714
29,Stephany,60,9909,Nogueira de Peixoto,Casado,3,Técnico de gesso,46.571429
30,João Vitor,44,5637,Casa Grande do Norte,Solteiro,4,Militar da Marinha,57.714286
31,Bella,47,10864,Nogueira de Peixoto,Solteiro,0,Maquinista,37.428571
32,Gustavo Henrique,28,6072,Nogueira de Peixoto,Solteiro,2,Profissional de rádio e tv,34.285714
33,Lara,22,13077,Casa Grande do Norte,Solteiro,2,Maquinista,22.642857
34,Mariah,51,12870,Fernandes,Solteiro,0,Cartunista,56.928571
35,Alexandre,61,12089,Nascimento do Oeste,Divorciado,2,Técnico de gesso,29.428571
36,Danilo,60,6252,Fernandes,Solteiro,2,Geriatra,38.714286
37,Luiz Gustavo,21,12409,da Conceição de Goiás,Divorciado,4,Profissional de efeitos especiais,59.000000
38,Matheus,42,5687,da Conceição de Goiás,Casado,1,Militar da Marinha,41.285714
39,Maria Helena,58,7011,Nogueira de Peixoto,Solteiro,3,Maquinista,61.857143
40,Diego,47,14464,Fernandes,Solteiro,3,Geriatra,22.214286
41,André,56,10575,Nogueira de Peixoto,Divorciado,2,Maquinista,44.857143
42,Sophie,21,2939,da Mata dos Dourados,Casado,3,Tecnólogo em irrigação e drenagem,22.142857
43,Luiz Gustavo,61,10987,Casa Grande do Norte,Casado,4,Profissional de rádio e tv,48.214286
44,Benjamin,58,3960,Nogueira de Peixoto,Casado,1,Profissional de efeitos especiais,44.142857
45,Luiz Gustavo,29,2895,Nogueira de Peixoto,Divorciado,3,Profissional de efeitos especiais,51.785714
46,Maria Isis,48,8295,Macedo,Casado,3,Geriatra,49.142857
47,Lívia,56,3807,da Mata dos Dourados,Solteiro,4,Rebarbador de metal,26.642857
48,Nicole,54,7086,Casa Grande do Norte,Solteiro,3,Zelador,35.571429
49,Otávio,32,11165,da Mata dos Dourados,Divorciado,2,Geriatra,60.857143
50,Ian,40,8218,da Mata dos Dourados,Divorciado,0,Geriatra,46.857143
51,Luiz Gustavo,25,10424,Macedo,Solteiro,2,Técnico de gesso,28.142857
52,Luigi,21,4684,Casa Grande do Norte,Solteiro,1,Tecnólogo em irrigação e drenagem,46.000000
53,Caroline,31,3396,da Mata dos Dourados,Divorciado,3,Profissional de rádio e tv,40.428571
54,Eloah,39,3323,Fernandes,Solteiro,4,Militar da Marinha,25.571429
55,Mateus,32,2893,da Mata dos Dourados,Divorciado,1,Tecnólogo em irrigação e drenagem,35.642857
56,Levi,38,9211,Casa Grande do Norte,Divorciado,1,Profissional de rádio e tv,35.785714
57,Isadora,34,2027,da Mata dos Dourados,Divorciado,3,Técnico de gesso,33.571429
58,Ester,48,9635,Nogueira de Peixoto,Divorciado,3,Tecnólogo em irrigação e drenagem,50.285714
59,Maya,50,2289,Casa Grande do Norte,Casado,3,Zelador,37.642857

In [38]:
#Alterando Dados
df['Salário Real'] = df['Salário']*5.97 #adiciona colunas se fosse df
display(df)

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito,Salário Real
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,55.857143,10184.82
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,64.000000,62953.65
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,64.142857,9850.50
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,48.928571,68744.55
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,52.428571,62147.70
5,Pedro Lucas,43,6482,Macedo,Casado,2,Zelador,47.928571,38697.54
6,Bella,26,9684,da Mata dos Dourados,Divorciado,4,Zelador,41.428571,57813.48
7,Ana Laura,56,14898,Fernandes,Divorciado,0,Cartunista,37.357143,88941.06
8,Josué,57,13497,Nascimento do Oeste,Divorciado,0,Zelador,23.285714,80577.09
9,Letícia,26,1670,da Mata dos Dourados,Casado,3,Geriatra,60.642857,9969.90
10,Davi Miguel,46,7928,Fernandes,Solteiro,2,Militar da Marinha,45.928571,47330.16
11,Benicio,20,10967,Pacheco das Flores,Solteiro,0,Geriatra,51.714286,65472.99
12,João,49,14973,Pacheco das Flores,Solteiro,1,Profissional de rádio e tv,55.285714,89388.81
13,Ester,48,10209,Casa Grande do Norte,Casado,3,Técnico de gesso,33.428571,60947.73
14,Alexandre,39,10726,Casa Grande do Norte,Solteiro,3,Zelador,48.785714,64034.22
15,Mariana,22,12190,Macedo,Casado,3,Zelador,57.071429,72774.30
16,Maria Cecília,61,9867,da Mata dos Dourados,Solteiro,2,Técnico de gesso,35.071429,58905.99
17,Stephany,64,5949,Macedo,Casado,1,Maquinista,49.785714,35515.53
18,Luiz Henrique,20,14219,da Conceição de Goiás,Casado,1,Zelador,62.928571,84887.43
19,Maria Luiza,18,12753,Casa Grande do Norte,Solteiro,2,Zelador,38.642857,76135.41
20,Amanda,31,4880,Pacheco das Flores,Divorciado,0,Rebarbador de metal,53.785714,29133.60
21,Oliver,41,2640,Pacheco das Flores,Divorciado,4,Militar da Marinha,27.571429,15760.80
22,Esther,18,8561,Fernandes,Divorciado,3,Profissional de rádio e tv,49.214286,51109.17
23,Ana Vitória,51,3993,Nascimento do Oeste,Casado,1,Geriatra,47.071429,23838.21
24,Yan,35,3870,Macedo,Solteiro,1,Profissional de rádio e tv,60.357143,23103.90
25,Juliana,56,13811,Fernandes,Casado,4,Profissional de efeitos especiais,27.071429,82451.67
26,Lara,23,14849,Nascimento do Oeste,Casado,4,Técnico de gesso,43.000000,88648.53
27,Igor,19,14679,Casa Grande do Norte,Casado,1,Militar da Marinha,35.500000,87633.63
28,Elisa,44,2486,Nogueira de Peixoto,Casado,4,Rebarbador de metal,37.785714,14841.42
29,Stephany,60,9909,Nogueira de Peixoto,Casado,3,Técnico de gesso,46.571429,59156.73
30,João Vitor,44,5637,Casa Grande do Norte,Solteiro,4,Militar da Marinha,57.714286,33652.89
31,Bella,47,10864,Nogueira de Peixoto,Solteiro,0,Maquinista,37.428571,64858.08
32,Gustavo Henrique,28,6072,Nogueira de Peixoto,Solteiro,2,Profissional de rádio e tv,34.285714,36249.84
33,Lara,22,13077,Casa Grande do Norte,Solteiro,2,Maquinista,22.642857,78069.69
34,Mariah,51,12870,Fernandes,Solteiro,0,Cartunista,56.928571,76833.90
35,Alexandre,61,12089,Nascimento do Oeste,Divorciado,2,Técnico de gesso,29.428571,72171.33
36,Danilo,60,6252,Fernandes,Solteiro,2,Geriatra,38.714286,37324.44
37,Luiz Gustavo,21,12409,da Conceição de Goiás,Divorciado,4,Profissional de efeitos especiais,59.000000,74081.73
38,Matheus,42,5687,da Conceição de Goiás,Casado,1,Militar da Marinha,41.285714,33951.39
39,Maria Helena,58,7011,Nogueira de Peixoto,Solteiro,3,Maquinista,61.857143,41855.67
40,Diego,47,14464,Fernandes,Solteiro,3,Geriatra,22.214286,86350.08
41,André,56,10575,Nogueira de Peixoto,Divorciado,2,Maquinista,44.857143,63132.75
42,Sophie,21,2939,da Mata dos Dourados,Casado,3,Tecnólogo em irrigação e drenagem,22.142857,17545.83
43,Luiz Gustavo,61,10987,Casa Grande do Norte,Casado,4,Profissional de rádio e tv,48.214286,65592.39
44,Benjamin,58,3960,Nogueira de Peixoto,Casado,1,Profissional de efeitos especiais,44.142857,23641.20
45,Luiz Gustavo,29,2895,Nogueira de Peixoto,Divorciado,3,Profissional de efeitos especiais,51.785714,17283.15
46,Maria Isis,48,8295,Macedo,Casado,3,Geriatra,49.142857,49521.15
47,Lívia,56,3807,da Mata dos Dourados,Solteiro,4,Rebarbador de metal,26.642857,22727.79
48,Nicole,54,7086,Casa Grande do Norte,Solteiro,3,Zelador,35.571429,42303.42
49,Otávio,32,11165,da Mata dos Dourados,Divorciado,2,Geriatra,60.857143,66655.05
50,Ian,40,8218,da Mata dos Dourados,Divorciado,0,Geriatra,46.857143,49061.46
51,Luiz Gustavo,25,10424,Macedo,Solteiro,2,Técnico de gesso,28.142857,62231.28
52,Luigi,21,4684,Casa Grande do Norte,Solteiro,1,Tecnólogo em irrigação e drenagem,46.000000,27963.48
53,Caroline,31,3396,da Mata dos Dourados,Divorciado,3,Profissional de rádio e tv,40.428571,20274.12
54,Eloah,39,3323,Fernandes,Solteiro,4,Militar da Marinha,25.571429,19838.31
55,Mateus,32,2893,da Mata dos Dourados,Divorciado,1,Tecnólogo em irrigação e drenagem,35.642857,17271.21
56,Levi,38,9211,Casa Grande do Norte,Divorciado,1,Profissional de rádio e tv,35.785714,54989.67
57,Isadora,34,2027,da Mata dos Dourados,Divorciado,3,Técnico de gesso,33.571429,12101.19
58,Ester,48,9635,Nogueira de Peixoto,Divorciado,3,Tecnólogo em irrigação e drenagem,50.285714,57520.95
59,Maya,50,2289,Casa Grande do Norte,Casado,3,Zelador,37.642857,13665.33

In [39]:
df = df.drop(columns=["Salário Real"]) #excluindo colunas
display(df)

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,55.857143
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,64.000000
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,64.142857
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,48.928571
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,52.428571
5,Pedro Lucas,43,6482,Macedo,Casado,2,Zelador,47.928571
6,Bella,26,9684,da Mata dos Dourados,Divorciado,4,Zelador,41.428571
7,Ana Laura,56,14898,Fernandes,Divorciado,0,Cartunista,37.357143
8,Josué,57,13497,Nascimento do Oeste,Divorciado,0,Zelador,23.285714
9,Letícia,26,1670,da Mata dos Dourados,Casado,3,Geriatra,60.642857
10,Davi Miguel,46,7928,Fernandes,Solteiro,2,Militar da Marinha,45.928571
11,Benicio,20,10967,Pacheco das Flores,Solteiro,0,Geriatra,51.714286
12,João,49,14973,Pacheco das Flores,Solteiro,1,Profissional de rádio e tv,55.285714
13,Ester,48,10209,Casa Grande do Norte,Casado,3,Técnico de gesso,33.428571
14,Alexandre,39,10726,Casa Grande do Norte,Solteiro,3,Zelador,48.785714
15,Mariana,22,12190,Macedo,Casado,3,Zelador,57.071429
16,Maria Cecília,61,9867,da Mata dos Dourados,Solteiro,2,Técnico de gesso,35.071429
17,Stephany,64,5949,Macedo,Casado,1,Maquinista,49.785714
18,Luiz Henrique,20,14219,da Conceição de Goiás,Casado,1,Zelador,62.928571
19,Maria Luiza,18,12753,Casa Grande do Norte,Solteiro,2,Zelador,38.642857
20,Amanda,31,4880,Pacheco das Flores,Divorciado,0,Rebarbador de metal,53.785714
21,Oliver,41,2640,Pacheco das Flores,Divorciado,4,Militar da Marinha,27.571429
22,Esther,18,8561,Fernandes,Divorciado,3,Profissional de rádio e tv,49.214286
23,Ana Vitória,51,3993,Nascimento do Oeste,Casado,1,Geriatra,47.071429
24,Yan,35,3870,Macedo,Solteiro,1,Profissional de rádio e tv,60.357143
25,Juliana,56,13811,Fernandes,Casado,4,Profissional de efeitos especiais,27.071429
26,Lara,23,14849,Nascimento do Oeste,Casado,4,Técnico de gesso,43.000000
27,Igor,19,14679,Casa Grande do Norte,Casado,1,Militar da Marinha,35.500000
28,Elisa,44,2486,Nogueira de Peixoto,Casado,4,Rebarbador de metal,37.785714
29,Stephany,60,9909,Nogueira de Peixoto,Casado,3,Técnico de gesso,46.571429
30,João Vitor,44,5637,Casa Grande do Norte,Solteiro,4,Militar da Marinha,57.714286
31,Bella,47,10864,Nogueira de Peixoto,Solteiro,0,Maquinista,37.428571
32,Gustavo Henrique,28,6072,Nogueira de Peixoto,Solteiro,2,Profissional de rádio e tv,34.285714
33,Lara,22,13077,Casa Grande do Norte,Solteiro,2,Maquinista,22.642857
34,Mariah,51,12870,Fernandes,Solteiro,0,Cartunista,56.928571
35,Alexandre,61,12089,Nascimento do Oeste,Divorciado,2,Técnico de gesso,29.428571
36,Danilo,60,6252,Fernandes,Solteiro,2,Geriatra,38.714286
37,Luiz Gustavo,21,12409,da Conceição de Goiás,Divorciado,4,Profissional de efeitos especiais,59.000000
38,Matheus,42,5687,da Conceição de Goiás,Casado,1,Militar da Marinha,41.285714
39,Maria Helena,58,7011,Nogueira de Peixoto,Solteiro,3,Maquinista,61.857143
40,Diego,47,14464,Fernandes,Solteiro,3,Geriatra,22.214286
41,André,56,10575,Nogueira de Peixoto,Divorciado,2,Maquinista,44.857143
42,Sophie,21,2939,da Mata dos Dourados,Casado,3,Tecnólogo em irrigação e drenagem,22.142857
43,Luiz Gustavo,61,10987,Casa Grande do Norte,Casado,4,Profissional de rádio e tv,48.214286
44,Benjamin,58,3960,Nogueira de Peixoto,Casado,1,Profissional de efeitos especiais,44.142857
45,Luiz Gustavo,29,2895,Nogueira de Peixoto,Divorciado,3,Profissional de efeitos especiais,51.785714
46,Maria Isis,48,8295,Macedo,Casado,3,Geriatra,49.142857
47,Lívia,56,3807,da Mata dos Dourados,Solteiro,4,Rebarbador de metal,26.642857
48,Nicole,54,7086,Casa Grande do Norte,Solteiro,3,Zelador,35.571429
49,Otávio,32,11165,da Mata dos Dourados,Divorciado,2,Geriatra,60.857143
50,Ian,40,8218,da Mata dos Dourados,Divorciado,0,Geriatra,46.857143
51,Luiz Gustavo,25,10424,Macedo,Solteiro,2,Técnico de gesso,28.142857
52,Luigi,21,4684,Casa Grande do Norte,Solteiro,1,Tecnólogo em irrigação e drenagem,46.000000
53,Caroline,31,3396,da Mata dos Dourados,Divorciado,3,Profissional de rádio e tv,40.428571
54,Eloah,39,3323,Fernandes,Solteiro,4,Militar da Marinha,25.571429
55,Mateus,32,2893,da Mata dos Dourados,Divorciado,1,Tecnólogo em irrigação e drenagem,35.642857
56,Levi,38,9211,Casa Grande do Norte,Divorciado,1,Profissional de rádio e tv,35.785714
57,Isadora,34,2027,da Mata dos Dourados,Divorciado,3,Técnico de gesso,33.571429
58,Ester,48,9635,Nogueira de Peixoto,Divorciado,3,Tecnólogo em irrigação e drenagem,50.285714
59,Maya,50,2289,Casa Grande do Norte,Casado,3,Zelador,37.642857

In [40]:
##Agrupamento
df_mean = df.groupby("Idade")["Salário"].mean()
display(df_mean)

Idade
18    10619.666667
19    14679.000000
20    12593.000000
21     6677.333333
22    12633.500000
23     8277.500000
25    10424.000000
26     5677.000000
28     6072.000000
29     2895.000000
31     4138.000000
32     7029.000000
34     2027.000000
35     3870.000000
38     5430.500000
39     7024.500000
40     8218.000000
41     2640.000000
42     8048.500000
43     6482.000000
44     4061.500000
46     7928.000000
47    12664.000000
48     9379.666667
49    14973.000000
50     6902.000000
51     8431.500000
54     7086.000000
56    10772.750000
57    13497.000000
58     5485.500000
60     8080.500000
61    10981.000000
64     5949.000000
Name: Salário, dtype: float64

In [41]:
df_sum = df.groupby("Idade")["Salário"].sum()
display(df_sum)

Idade
18    31859
19    14679
20    25186
21    20032
22    25267
23    16555
25    10424
26    11354
28     6072
29     2895
31     8276
32    14058
34     2027
35     3870
38    10861
39    14049
40     8218
41     2640
42    16097
43     6482
44     8123
46     7928
47    25328
48    28139
49    14973
50    13804
51    16863
54     7086
56    43091
57    13497
58    10971
60    16161
61    32943
64     5949
Name: Salário, dtype: int64

In [42]:
display(df.isna().sum())# se existe alguma coisa vazia

Nome                    0
Idade                   0
Salário                 0
Cidade                  0
Estado Civil            0
Número de Filhos        0
Profissão               0
Pontuação de Crédito    0
dtype: int64

# Combinado com Numpy

In [43]:
df['Idade'].describe()

count    60.000000
mean     39.966667
std      14.261441
min      18.000000
25%      26.000000
50%      41.500000
75%      51.000000
max      64.000000
Name: Idade, dtype: float64

In [44]:
import numpy as np
df["Quartis"] = np.select(
    [
        df['Idade'] <= 26,
        df['Idade'] <= 41.5,
        df['Idade'] <= 51
    ],
    [
        "Q1",
        "Q2",
        "Q3"
    ], default="Q4"
    )
display(df)

,Nome,Idade,Salário,Cidade,Estado Civil,Número de Filhos,Profissão,Pontuação de Crédito,Quartis
0,Bruna,23,1706,Nogueira de Peixoto,Divorciado,2,Maquinista,55.857143,Q1
1,Eloah,18,10545,da Mata dos Dourados,Casado,0,Militar da Marinha,64.000000,Q1
2,Nicolas,38,1650,Fernandes,Solteiro,2,Rebarbador de metal,64.142857,Q2
3,Calebe,50,11515,Casa Grande do Norte,Divorciado,2,Militar da Marinha,48.928571,Q3
4,Benício,42,10410,Macedo,Divorciado,3,Maquinista,52.428571,Q3
5,Pedro Lucas,43,6482,Macedo,Casado,2,Zelador,47.928571,Q3
6,Bella,26,9684,da Mata dos Dourados,Divorciado,4,Zelador,41.428571,Q1
7,Ana Laura,56,14898,Fernandes,Divorciado,0,Cartunista,37.357143,Q4
8,Josué,57,13497,Nascimento do Oeste,Divorciado,0,Zelador,23.285714,Q4
9,Letícia,26,1670,da Mata dos Dourados,Casado,3,Geriatra,60.642857,Q1
10,Davi Miguel,46,7928,Fernandes,Solteiro,2,Militar da Marinha,45.928571,Q3
11,Benicio,20,10967,Pacheco das Flores,Solteiro,0,Geriatra,51.714286,Q1
12,João,49,14973,Pacheco das Flores,Solteiro,1,Profissional de rádio e tv,55.285714,Q3
13,Ester,48,10209,Casa Grande do Norte,Casado,3,Técnico de gesso,33.428571,Q3
14,Alexandre,39,10726,Casa Grande do Norte,Solteiro,3,Zelador,48.785714,Q2
15,Mariana,22,12190,Macedo,Casado,3,Zelador,57.071429,Q1
16,Maria Cecília,61,9867,da Mata dos Dourados,Solteiro,2,Técnico de gesso,35.071429,Q4
17,Stephany,64,5949,Macedo,Casado,1,Maquinista,49.785714,Q4
18,Luiz Henrique,20,14219,da Conceição de Goiás,Casado,1,Zelador,62.928571,Q1
19,Maria Luiza,18,12753,Casa Grande do Norte,Solteiro,2,Zelador,38.642857,Q1
20,Amanda,31,4880,Pacheco das Flores,Divorciado,0,Rebarbador de metal,53.785714,Q2
21,Oliver,41,2640,Pacheco das Flores,Divorciado,4,Militar da Marinha,27.571429,Q2
22,Esther,18,8561,Fernandes,Divorciado,3,Profissional de rádio e tv,49.214286,Q1
23,Ana Vitória,51,3993,Nascimento do Oeste,Casado,1,Geriatra,47.071429,Q3
24,Yan,35,3870,Macedo,Solteiro,1,Profissional de rádio e tv,60.357143,Q2
25,Juliana,56,13811,Fernandes,Casado,4,Profissional de efeitos especiais,27.071429,Q4
26,Lara,23,14849,Nascimento do Oeste,Casado,4,Técnico de gesso,43.000000,Q1
27,Igor,19,14679,Casa Grande do Norte,Casado,1,Militar da Marinha,35.500000,Q1
28,Elisa,44,2486,Nogueira de Peixoto,Casado,4,Rebarbador de metal,37.785714,Q3
29,Stephany,60,9909,Nogueira de Peixoto,Casado,3,Técnico de gesso,46.571429,Q4
30,João Vitor,44,5637,Casa Grande do Norte,Solteiro,4,Militar da Marinha,57.714286,Q3
31,Bella,47,10864,Nogueira de Peixoto,Solteiro,0,Maquinista,37.428571,Q3
32,Gustavo Henrique,28,6072,Nogueira de Peixoto,Solteiro,2,Profissional de rádio e tv,34.285714,Q2
33,Lara,22,13077,Casa Grande do Norte,Solteiro,2,Maquinista,22.642857,Q1
34,Mariah,51,12870,Fernandes,Solteiro,0,Cartunista,56.928571,Q3
35,Alexandre,61,12089,Nascimento do Oeste,Divorciado,2,Técnico de gesso,29.428571,Q4
36,Danilo,60,6252,Fernandes,Solteiro,2,Geriatra,38.714286,Q4
37,Luiz Gustavo,21,12409,da Conceição de Goiás,Divorciado,4,Profissional de efeitos especiais,59.000000,Q1
38,Matheus,42,5687,da Conceição de Goiás,Casado,1,Militar da Marinha,41.285714,Q3
39,Maria Helena,58,7011,Nogueira de Peixoto,Solteiro,3,Maquinista,61.857143,Q4
40,Diego,47,14464,Fernandes,Solteiro,3,Geriatra,22.214286,Q3
41,André,56,10575,Nogueira de Peixoto,Divorciado,2,Maquinista,44.857143,Q4
42,Sophie,21,2939,da Mata dos Dourados,Casado,3,Tecnólogo em irrigação e drenagem,22.142857,Q1
43,Luiz Gustavo,61,10987,Casa Grande do Norte,Casado,4,Profissional de rádio e tv,48.214286,Q4
44,Benjamin,58,3960,Nogueira de Peixoto,Casado,1,Profissional de efeitos especiais,44.142857,Q4
45,Luiz Gustavo,29,2895,Nogueira de Peixoto,Divorciado,3,Profissional de efeitos especiais,51.785714,Q2
46,Maria Isis,48,8295,Macedo,Casado,3,Geriatra,49.142857,Q3
47,Lívia,56,3807,da Mata dos Dourados,Solteiro,4,Rebarbador de metal,26.642857,Q4
48,Nicole,54,7086,Casa Grande do Norte,Solteiro,3,Zelador,35.571429,Q4
49,Otávio,32,11165,da Mata dos Dourados,Divorciado,2,Geriatra,60.857143,Q2
50,Ian,40,8218,da Mata dos Dourados,Divorciado,0,Geriatra,46.857143,Q2
51,Luiz Gustavo,25,10424,Macedo,Solteiro,2,Técnico de gesso,28.142857,Q1
52,Luigi,21,4684,Casa Grande do Norte,Solteiro,1,Tecnólogo em irrigação e drenagem,46.000000,Q1
53,Caroline,31,3396,da Mata dos Dourados,Divorciado,3,Profissional de rádio e tv,40.428571,Q2
54,Eloah,39,3323,Fernandes,Solteiro,4,Militar da Marinha,25.571429,Q2
55,Mateus,32,2893,da Mata dos Dourados,Divorciado,1,Tecnólogo em irrigação e drenagem,35.642857,Q2
56,Levi,38,9211,Casa Grande do Norte,Divorciado,1,Profissional de rádio e tv,35.785714,Q2
57,Isadora,34,2027,da Mata dos Dourados,Divorciado,3,Técnico de gesso,33.571429,Q2
58,Ester,48,9635,Nogueira de Peixoto,Divorciado,3,Tecnólogo em irrigação e drenagem,50.285714,Q3
59,Maya,50,2289,Casa Grande do Norte,Casado,3,Zelador,37.642857,Q3